* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f3f2cd;
  color: white;
}

header {
  height: 150px;
}

header h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
  margin: 0 15;
}